@media (max-width:768px) {
  .style0 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 667px;
    flex-direction: column
  }
  .style13 {
    background-color: #fff;
    margin-left: 101px;
    margin-top: 299px;
    width: 0;
    height: 0
  }
  .style14,
  .style15 {
    display: flex;
    flex-direction: column
  }
  .style14 {
    margin-left: 0;
    align-items: center;
    background-color: #1f48d6;
    margin-top: 0;
    width: 375px;
    height: 667px
  }
  .style15 {
    background-color: #000;
    margin-top: 100px;
    width: 105px;
    height: 43px
  }
  .style24 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .style29 {
    background-image: linear-gradient(0deg,#fff 0,#e7e7e7 100%);
    box-shadow: 0 23px 14px 1px #0e1193;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    margin-top: 54px;
    width: 284px;
    height: 369px;
    flex-direction: column
  }
  .style34,
  .style36 {
    color: #1f48d6;
    font-family: 'Work Sans',serif
  }
  .style36 {
    align-self: center;
    font-size: 2.0625em;
    font-weight: 600;
    letter-spacing: -7px;
    margin-top: 26px;
    height: 42px
  }
  .style34 {
    font-size: .8125em;
    font-weight: 300;
    letter-spacing: -15px;
    margin-left: 29px;
    margin-top: 17px;
    height: 16px
  }
  .style32 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 7px;
    width: 219px;
    height: 33px;
    align-self: center
  }
  .style35 {
    color: #1f48d6;
    font-family: 'Work Sans',serif;
    font-size: .8125em;
    font-weight: 300;
    letter-spacing: -15px;
    margin-left: 29px;
    margin-top: 22px;
    height: 16px
  }
  .style33 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 7px;
    width: 219px;
    height: 33px;
    align-self: center
  }
  .style30 {
    background-color: #2de672;
    box-shadow: 0 3px 3px 1px #24d77a;
    display: flex;
    margin-top: 40px;
    width: 177px;
    height: 42px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 1.0625em;
    font-weight: 600;
    letter-spacing: -13px;
    height: 21px
  }
  .style37,
  .style40 {
    display: flex;
    flex-direction: column
  }
  .style37 {
    background-color: #1f48d6;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 667px
  }
  .style40 {
    background-color: rgba(69,90,100,.00392156862745098);
    margin-left: 288px;
    margin-top: 232px;
    width: 0;
    height: 0;
    align-items: stretch
  }
  .style41 {
    background-color: #2de672;
    height: 0
  }
  .style39 {
    background-color: #d8d8d8;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 91px;
    border-top-right-radius: 91px;
    border-bottom-left-radius: 91px;
    border-bottom-right-radius: 91px;
    display: flex;
    margin-top: 12px;
    width: 179px;
    height: 179px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style38 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: .9375em;
    font-weight: 500;
    letter-spacing: -15px;
    margin-top: 75px;
    height: 38px
  }
  .style42 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 667px;
    flex-direction: column
  }
  .style43 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 1.125em;
    font-weight: 500;
    letter-spacing: -15px;
    margin-left: 25px;
    margin-top: 28px;
    height: 24px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrwb3svs.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    margin-left: 26px;
    margin-top: 39px;
    width: 122px;
    height: 122px
  }
  .style44,
  .style45 {
    color: #fff;
    font-family: 'Work Sans',serif
  }
  .style44 {
    font-weight: 700;
    align-self: center;
    font-size: 2.75em;
    letter-spacing: -12px;
    margin-top: 13px;
    height: 101px
  }
  .style45 {
    font-size: 1.125em;
    letter-spacing: -20px;
    margin-left: 26px;
    margin-top: 7px;
    height: 144px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style47 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 103px;
    flex-direction: column
  }
  .style48 {
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    letter-spacing: -15px;
    margin-left: 105px;
    margin-top: 30px;
    height: 24px
  }
  .style48,
  .style49,
  .style50,
  .style51 {
    font-family: 'Work Sans',serif
  }
  .style49 {
    color: #7cd8ea;
    font-size: .8125em;
    font-weight: 500;
    letter-spacing: -21px;
    margin-top: 2px;
    height: 16px;
    margin-left: 105px
  }
  .style50,
  .style51 {
    margin-left: 25px
  }
  .style50 {
    font-weight: 700;
    color: #1f48d6;
    font-size: 1.8125em;
    letter-spacing: -12px;
    margin-top: 46px;
    height: 38px
  }
  .style51 {
    color: #5d5f67;
    font-size: 1.125em;
    letter-spacing: -20px;
    margin-top: 12px;
    height: 48px
  }
  .startrow3 {
    display: flex;
    margin-left: 25px;
    margin-top: 28px;
    width: 315px;
    height: 16px;
    align-items: stretch
  }
  .style52,
  .style53 {
    color: #5d5f67;
    font-family: 'Work Sans',serif;
    font-size: .8125em;
    letter-spacing: -20px;
    margin-left: 0
  }
  .style53 {
    margin-left: 47px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style0 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1366px;
    flex-direction: column
  }
  .style13 {
    background-color: #fff;
    margin-left: 207px;
    margin-top: 612px;
    width: 0;
    height: 0
  }
  .style14,
  .style15 {
    display: flex;
    flex-direction: column
  }
  .style14 {
    margin-left: 0;
    align-items: center;
    background-color: #1f48d6;
    margin-top: 0;
    width: 768px;
    height: 1366px
  }
  .style15 {
    background-color: #000;
    margin-top: 205px;
    width: 215px;
    height: 88px
  }
  .style24 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .style29 {
    background-image: linear-gradient(0deg,#fff 0,#e7e7e7 100%);
    box-shadow: 0 23px 14px 1px #0e1193;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    margin-top: 111px;
    width: 582px;
    height: 756px;
    flex-direction: column
  }
  .style34,
  .style36 {
    color: #1f48d6;
    font-family: 'Work Sans',serif
  }
  .style36 {
    align-self: center;
    font-size: 4.224em;
    font-weight: 600;
    letter-spacing: -14px;
    margin-top: 53px;
    height: 86px
  }
  .style34 {
    font-size: 1.6640000000000001em;
    font-weight: 300;
    letter-spacing: -31px;
    margin-left: 59px;
    margin-top: 35px;
    height: 33px
  }
  .style32 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 14px;
    width: 449px;
    height: 68px;
    align-self: center
  }
  .style35 {
    color: #1f48d6;
    font-family: 'Work Sans',serif;
    font-size: 1.6640000000000001em;
    font-weight: 300;
    letter-spacing: -31px;
    margin-left: 59px;
    margin-top: 45px;
    height: 33px
  }
  .style33 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 14px;
    width: 449px;
    height: 68px;
    align-self: center
  }
  .style30 {
    background-color: #2de672;
    box-shadow: 0 3px 3px 1px #24d77a;
    display: flex;
    margin-top: 82px;
    width: 362px;
    height: 86px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 2.176em;
    font-weight: 600;
    letter-spacing: -27px;
    height: 43px
  }
  .style37,
  .style40 {
    display: flex;
    flex-direction: column
  }
  .style37 {
    background-color: #1f48d6;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1366px
  }
  .style40 {
    background-color: rgba(69,90,100,.00392156862745098);
    margin-left: 590px;
    margin-top: 475px;
    width: 0;
    height: 0;
    align-items: stretch
  }
  .style41 {
    background-color: #2de672;
    height: 0
  }
  .style39 {
    background-color: #d8d8d8;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 91px;
    border-top-right-radius: 91px;
    border-bottom-left-radius: 91px;
    border-bottom-right-radius: 91px;
    display: flex;
    margin-top: 25px;
    width: 367px;
    height: 367px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style38 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 1.92em;
    font-weight: 500;
    letter-spacing: -31px;
    margin-top: 154px;
    height: 78px
  }
  .style42 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1366px;
    flex-direction: column
  }
  .style43 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 2.3040000000000003em;
    font-weight: 500;
    letter-spacing: -31px;
    margin-left: 51px;
    margin-top: 57px;
    height: 49px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrwb3svs.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    margin-left: 53px;
    margin-top: 80px;
    width: 250px;
    height: 250px
  }
  .style44,
  .style45 {
    color: #fff;
    font-family: 'Work Sans',serif
  }
  .style44 {
    font-weight: 700;
    align-self: center;
    font-size: 5.632em;
    letter-spacing: -25px;
    margin-top: 27px;
    height: 207px
  }
  .style45 {
    font-size: 2.3040000000000003em;
    letter-spacing: -41px;
    margin-left: 53px;
    margin-top: 14px;
    height: 295px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style47 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 211px;
    flex-direction: column
  }
  .style48 {
    color: #fff;
    font-size: 2.3040000000000003em;
    font-weight: 500;
    letter-spacing: -31px;
    margin-left: 215px;
    margin-top: 61px;
    height: 49px
  }
  .style48,
  .style49,
  .style50,
  .style51 {
    font-family: 'Work Sans',serif
  }
  .style49 {
    color: #7cd8ea;
    font-size: 1.6640000000000001em;
    font-weight: 500;
    letter-spacing: -43px;
    margin-top: 4px;
    height: 33px;
    margin-left: 215px
  }
  .style50,
  .style51 {
    margin-left: 51px
  }
  .style50 {
    font-weight: 700;
    color: #1f48d6;
    font-size: 3.712em;
    letter-spacing: -25px;
    margin-top: 94px;
    height: 78px
  }
  .style51 {
    color: #5d5f67;
    font-size: 2.3040000000000003em;
    letter-spacing: -41px;
    margin-top: 25px;
    height: 98px
  }
  .startrow3 {
    display: flex;
    margin-left: 51px;
    margin-top: 57px;
    width: 645px;
    height: 33px;
    align-items: stretch
  }
  .style52,
  .style53 {
    color: #5d5f67;
    font-family: 'Work Sans',serif;
    font-size: 1.6640000000000001em;
    letter-spacing: -41px;
    margin-left: 0
  }
  .style53 {
    margin-left: 96px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style0 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1636px;
    flex-direction: column
  }
  .style13 {
    background-color: #fff;
    margin-left: 248px;
    margin-top: 734px;
    width: 0;
    height: 0
  }
  .style14,
  .style15 {
    display: flex;
    flex-direction: column
  }
  .style14 {
    margin-left: 0;
    align-items: center;
    background-color: #1f48d6;
    margin-top: 0;
    width: 920px;
    height: 1636px
  }
  .style15 {
    background-color: #000;
    margin-top: 245px;
    width: 258px;
    height: 105px
  }
  .style24 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .style29 {
    background-image: linear-gradient(0deg,#fff 0,#e7e7e7 100%);
    box-shadow: 0 23px 14px 1px #0e1193;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    margin-top: 132px;
    width: 697px;
    height: 905px;
    flex-direction: column
  }
  .style34,
  .style36 {
    color: #1f48d6;
    font-family: 'Work Sans',serif
  }
  .style36 {
    align-self: center;
    font-size: 5.06em;
    font-weight: 600;
    letter-spacing: -17px;
    margin-top: 64px;
    height: 103px
  }
  .style34 {
    font-size: 1.9933333333333332em;
    font-weight: 300;
    letter-spacing: -37px;
    margin-left: 71px;
    margin-top: 42px;
    height: 39px
  }
  .style32 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 17px;
    width: 537px;
    height: 81px;
    align-self: center
  }
  .style35 {
    color: #1f48d6;
    font-family: 'Work Sans',serif;
    font-size: 1.9933333333333332em;
    font-weight: 300;
    letter-spacing: -37px;
    margin-left: 71px;
    margin-top: 54px;
    height: 39px
  }
  .style33 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 17px;
    width: 537px;
    height: 81px;
    align-self: center
  }
  .style30 {
    background-color: #2de672;
    box-shadow: 0 3px 3px 1px #24d77a;
    display: flex;
    margin-top: 98px;
    width: 434px;
    height: 103px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 2.6066666666666665em;
    font-weight: 600;
    letter-spacing: -32px;
    height: 52px
  }
  .style37,
  .style40 {
    display: flex;
    flex-direction: column
  }
  .style37 {
    background-color: #1f48d6;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1636px
  }
  .style40 {
    background-color: rgba(69,90,100,.00392156862745098);
    margin-left: 707px;
    margin-top: 569px;
    width: 0;
    height: 0;
    align-items: stretch
  }
  .style41 {
    background-color: #2de672;
    height: 0
  }
  .style39 {
    background-color: #d8d8d8;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 91px;
    border-top-right-radius: 91px;
    border-bottom-left-radius: 91px;
    border-bottom-right-radius: 91px;
    display: flex;
    margin-top: 29px;
    width: 439px;
    height: 439px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style38 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: -37px;
    margin-top: 184px;
    height: 93px
  }
  .style42 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1636px;
    flex-direction: column
  }
  .style43 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 2.76em;
    font-weight: 500;
    letter-spacing: -37px;
    margin-left: 61px;
    margin-top: 69px;
    height: 59px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrwb3svs.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    margin-left: 64px;
    margin-top: 96px;
    width: 299px;
    height: 299px
  }
  .style44,
  .style45 {
    color: #fff;
    font-family: 'Work Sans',serif
  }
  .style44 {
    font-weight: 700;
    align-self: center;
    font-size: 6.746666666666666em;
    letter-spacing: -29px;
    margin-top: 32px;
    height: 248px
  }
  .style45 {
    font-size: 2.76em;
    letter-spacing: -49px;
    margin-left: 64px;
    margin-top: 17px;
    height: 353px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style47 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 253px;
    flex-direction: column
  }
  .style48 {
    color: #fff;
    font-size: 2.76em;
    font-weight: 500;
    letter-spacing: -37px;
    margin-left: 258px;
    margin-top: 74px;
    height: 59px
  }
  .style48,
  .style49,
  .style50,
  .style51 {
    font-family: 'Work Sans',serif
  }
  .style49 {
    color: #7cd8ea;
    font-size: 1.9933333333333332em;
    font-weight: 500;
    letter-spacing: -52px;
    margin-top: 5px;
    height: 39px;
    margin-left: 258px
  }
  .style50,
  .style51 {
    margin-left: 61px
  }
  .style50 {
    font-weight: 700;
    color: #1f48d6;
    font-size: 4.446666666666666em;
    letter-spacing: -29px;
    margin-top: 113px;
    height: 93px
  }
  .style51 {
    color: #5d5f67;
    font-size: 2.76em;
    letter-spacing: -49px;
    margin-top: 29px;
    height: 118px
  }
  .startrow3 {
    display: flex;
    margin-left: 61px;
    margin-top: 69px;
    width: 773px;
    height: 39px;
    align-items: stretch
  }
  .style52,
  .style53 {
    color: #5d5f67;
    font-family: 'Work Sans',serif;
    font-size: 1.9933333333333332em;
    letter-spacing: -49px;
    margin-left: 0
  }
  .style53 {
    margin-left: 115px
  }
}
@media (min-width:1200px) {
  .style0 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2134px;
    flex-direction: column
  }
  .style13 {
    background-color: #fff;
    margin-left: 323px;
    margin-top: 957px;
    width: 0;
    height: 0
  }
  .style14,
  .style15 {
    display: flex;
    flex-direction: column
  }
  .style14 {
    margin-left: 0;
    align-items: center;
    background-color: #1f48d6;
    margin-top: 0;
    width: 1200px;
    height: 2134px
  }
  .style15 {
    background-color: #000;
    margin-top: 320px;
    width: 336px;
    height: 138px
  }
  .style24 {
    background-color: #fff;
    width: 0;
    height: 0
  }
  .style29 {
    background-image: linear-gradient(0deg,#fff 0,#e7e7e7 100%);
    box-shadow: 0 23px 14px 1px #0e1193;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    margin-top: 173px;
    width: 909px;
    height: 1181px;
    flex-direction: column
  }
  .style34,
  .style36 {
    color: #1f48d6;
    font-family: 'Work Sans',serif
  }
  .style36 {
    align-self: center;
    font-size: 6.6000000000000005em;
    font-weight: 600;
    letter-spacing: -22px;
    margin-top: 83px;
    height: 134px
  }
  .style34 {
    font-size: 2.6em;
    font-weight: 300;
    letter-spacing: -48px;
    margin-left: 93px;
    margin-top: 54px;
    height: 51px
  }
  .style32 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 22px;
    width: 701px;
    height: 106px;
    align-self: center
  }
  .style35 {
    color: #1f48d6;
    font-family: 'Work Sans',serif;
    font-size: 2.6em;
    font-weight: 300;
    letter-spacing: -48px;
    margin-left: 93px;
    margin-top: 70px;
    height: 51px
  }
  .style33 {
    background-color: #fff;
    border-left: 1px solid #cdd0d2;
    border-right: 1px solid #cdd0d2;
    border-top: 1px solid #cdd0d2;
    border-bottom: 1px solid #cdd0d2;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.5019607843137255);
    margin-top: 22px;
    width: 701px;
    height: 106px;
    align-self: center
  }
  .style30 {
    background-color: #2de672;
    box-shadow: 0 3px 3px 1px #24d77a;
    display: flex;
    margin-top: 128px;
    width: 566px;
    height: 134px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style31 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 3.4000000000000004em;
    font-weight: 600;
    letter-spacing: -42px;
    height: 67px
  }
  .style37,
  .style40 {
    display: flex;
    flex-direction: column
  }
  .style37 {
    background-color: #1f48d6;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2134px
  }
  .style40 {
    background-color: rgba(69,90,100,.00392156862745098);
    margin-left: 922px;
    margin-top: 742px;
    width: 0;
    height: 0;
    align-items: stretch
  }
  .style41 {
    background-color: #2de672;
    height: 0
  }
  .style39 {
    background-color: #d8d8d8;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 91px;
    border-top-right-radius: 91px;
    border-bottom-left-radius: 91px;
    border-bottom-right-radius: 91px;
    display: flex;
    margin-top: 38px;
    width: 573px;
    height: 573px;
    align-items: center;
    align-self: center;
    flex-direction: column
  }
  .style38 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: -48px;
    margin-top: 240px;
    height: 122px
  }
  .style42 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2134px;
    flex-direction: column
  }
  .style43 {
    color: #fff;
    font-family: 'Work Sans',serif;
    font-size: 3.6em;
    font-weight: 500;
    letter-spacing: -48px;
    margin-left: 80px;
    margin-top: 90px;
    height: 77px
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrwb3svs.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    margin-left: 83px;
    margin-top: 125px;
    width: 390px;
    height: 390px
  }
  .style44,
  .style45 {
    color: #fff;
    font-family: 'Work Sans',serif
  }
  .style44 {
    font-weight: 700;
    align-self: center;
    font-size: 8.8em;
    letter-spacing: -38px;
    margin-top: 42px;
    height: 323px
  }
  .style45 {
    font-size: 3.6em;
    letter-spacing: -64px;
    margin-left: 83px;
    margin-top: 22px;
    height: 461px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style47 {
    background-color: #1f48d6;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 330px;
    flex-direction: column
  }
  .style48 {
    color: #fff;
    font-size: 3.6em;
    font-weight: 500;
    letter-spacing: -48px;
    margin-left: 336px;
    margin-top: 96px;
    height: 77px
  }
  .style48,
  .style49,
  .style50,
  .style51 {
    font-family: 'Work Sans',serif
  }
  .style49 {
    color: #7cd8ea;
    font-size: 2.6em;
    font-weight: 500;
    letter-spacing: -67px;
    margin-top: 6px;
    height: 51px;
    margin-left: 336px
  }
  .style50,
  .style51 {
    margin-left: 80px
  }
  .style50 {
    font-weight: 700;
    color: #1f48d6;
    font-size: 5.800000000000001em;
    letter-spacing: -38px;
    margin-top: 147px;
    height: 122px
  }
  .style51 {
    color: #5d5f67;
    font-size: 3.6em;
    letter-spacing: -64px;
    margin-top: 38px;
    height: 154px
  }
  .startrow3 {
    display: flex;
    margin-left: 80px;
    margin-top: 90px;
    width: 1008px;
    height: 51px;
    align-items: stretch
  }
  .style52,
  .style53 {
    color: #5d5f67;
    font-family: 'Work Sans',serif;
    font-size: 2.6em;
    letter-spacing: -64px;
    margin-left: 0
  }
  .style53 {
    margin-left: 150px
  }
}